<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="localConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Restaurace;Persist Security Info=True;"/>
    <add name="connectionKantnerova" connectionString="Data Source=;Initial Catalog=Restaurace;Persist Security Info=True;User ID=;Password="/>
    <add name="skolniConnection" connectionString="Data Source=PCXXX;Initial Catalog=Restaurace;Persist Security Info=True;User ID=sa;Password=student"/>
  </connectionStrings>
  <appSettings>
    <add key="logFilePath" value="../../errorLogs/log.txt" />
    <add key="passwordSalt" value="qwerty&amp;!@#$"/>
  </appSettings>
</configuration>